.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638892520/EducationHub/photos/stream-in-colorado.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -11rem;
    
    // direct-child selector
    & > * {
      transform: skewY(7deg);
    }
}
